

.root{
     -fx-font-family: "Roboto";
     -fx-background-color: null;
     -egg-shell: #F1F1F1;
     -light-blue: #3B63A5;
     -fx-focus-color: transparent;
     -fx-faint-focus-color: transparent;
 }


.frame{
    -fx-border-radius: 10;
    -fx-border-color: #8e8e8e;
}



/* Reset and reset hover for Medical Supply page (Aarsh Style)*/
.resetButton{
    -fx-font-family: "Roboto";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #F1F1F1;
    -fx-text-fill: #000000;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #000000;
    -fx-border-width: 2;
    -fx-alignment: "CENTER"
}

.resetButton:hover{
    -fx-background-color: #9B9B9B;
    -fx-text-fill: #000000;
}

/* Cancel and Cancel hover for Medical Supply page (Aarsh Style)*/
.cancelButton{
    -fx-font-family: "Roboto";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #FB0000;
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #FB0000;
    -fx-border-width: 2;
    -fx-alignment: "CENTER"
}

.cancelButton:hover{
//-fx-background-color: #FB0000,0.5;
    -fx-background-color: rgba(251, 0, 0, 0.75);
    -fx-text-fill: #F1F1F1;
}

/* Submit and Submit hover for Medical Supply page (Aarsh Style)*/
.submitButton{
    -fx-font-family: "Roboto";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #F1F1F1;
    -fx-background-color: #3B63A5;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #3B63A5;
    -fx-border-width: 2;
    -fx-alignment: "CENTER"
}

.submitButton:hover{
    -fx-background-color: #F1F1F1;
    -fx-text-fill: #3B63A5;
}


/* Font family, size and color for text */

.text {
    -fx-font-family: 'Roboto';
    -fx-font-size: 26px;
    -fx-color: #012D5A;
}

/* Text Field for Medical Supply page (Aarsh Style)*/

.notes{
    -fx-text-fill: #1F1F1F;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #012D5A;
    -fx-border-width: 2;
    -fx-alignment: top-left;
    -fx-font-family: "Roboto";
    -fx-font-size: 24;
}

/* Text Field for Medical Supply page (Aarsh Style)*/

 .TextField{
     -fx-text-fill: #1F1F1F;
     -fx-background-color: #FFFFFF;
     -fx-background-radius: 10;
     -fx-border-radius: 10;
     -fx-border-color: #012D5A;
     -fx-border-width: 2;
     -fx-alignment: "center-left";
     -fx-font-family: "Roboto";
     -fx-font-size: 24;
     -fx-pref-height: 40px;
 }

/* Searchable ComboBox for Medical Supply page (Aarsh Style)*/

 .SearchableComboBox{
     -fx-text-fill: #1F1F1F;
     -fx-background-color: #FFFFFF;
     -fx-background-radius: 10;
     -fx-border-radius: 10;
     -fx-border-color: #012D5A;
     -fx-border-width: 2;
     -fx-alignment: "center-left";
     -fx-font-family: "Roboto";
     /*-fx-font-size: 24;*/

 }


/* DatePicker for Medical Supply page (Aarsh Style)*/

 .datePicker{
     -fx-text-fill: #1F1F1F;
     -fx-background-color: #FFFFFF;
     -fx-background-radius: 10;
     -fx-border-radius: 10;
     -fx-border-color: #012D5A;
     -fx-border-width: 2;
     -fx-alignment: center-left;
     -fx-font-family: "Roboto";
     -fx-font-size: 24;
 }


/* Time Picker for Medical Supply page (Aarsh Style)*/

 .timePicker{
     -fx-text-fill: #1F1F1F;
     -fx-background-color: #FFFFFF;
     -fx-background-radius: 10;
     -fx-border-radius: 10;
     -fx-border-color: #012D5A;
     -fx-border-width: 2;
     -fx-alignment: "center";
     -fx-font-family: "Roboto";
     -fx-font-size: 24;
 }
/* Cart System for Medical Supply page (Aarsh Style)*/

/* Cart System ( Item Quantity )for Medical Supply page (Aarsh Style)*/

.itemQuantity {
    -fx-floating-text: "Quantity";
    -fx-alignment: "center";
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 3 0 3 0;
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}
/* Cart System ( Item Plus )for Medical Supply page (Aarsh Style)*/

.itemPlus {
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-background-radius: 0 20 20 0;
    -fx-background-color: #012D5A;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 0 20 20 0;
}

/* Cart System ( Item Minus )for Medical Supply page (Aarsh Style)*/

.itemMinus {
    -fx-font-family: "Roboto";
    -fx-font-weight: bold;
    -fx-font-size: 28px;
    -fx-background-radius: 20 0 0 20;
    -fx-background-color: #AAAAAA;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 20 0 0 20;
}

/* Cart System ( Item Card )for Medical Supply page (Aarsh Style)*/

.itemCard {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #012D5A;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, #012D5A, 20, 0.25, 1, 1);
}

/* Cart System ( Big Card )for Medical Supply page (Aarsh Style)*/
.card {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #012D5A;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(three-pass-box, #012D5A, 20, 0.25, 1, 1);
}


/* Cart System ( Big Card )for Medical Supply page (Aarsh Style)*/
.SubmittedNotification {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-background-color: rgba(0, 128, 0, 0.75);
    -fx-border-color: #1F1F1F;
    -fx-border-width: 1px;
}